@import url("./sections/nav.css");
@import url("./sections/button.css");

:root {
  /* colors =>  */
  --c-white: #fff;
  --c-black: #000;

  --c-red-45: #e50000;
  --c-red-50: #ff0000;
  --c-red-55: #ff1919;
  --c-red-60: #ff3333;
  --c-red-80: #ff9999;
  --c-red-90: #ffcccc;
  --c-red-95: #ffe5e5;
  --c-red-99: #fffafa;

  --c-black-06: #0f0f0f;
  --c-black-08: #141414;
  --c-black-10: #1a1a1a;
  --c-black-12: #1f1f1f;
  --c-black-15: #262626;
  --c-black-20: #333333;
  --c-black-25: #404040;
  --c-black-30: #4c4c4c;

  --c-gray-60: #999999;
  --c-gray-65: #a6a6a6;
  --c-gray-70: #b3b3b3;
  --c-gray-75: #bfbfbf;
  --c-gray-90: #e4e4e7;
  --c-gray-95: #f1f1f3;
  --c-gray-97: #f7f7f8;
  --c-gray-99: #fcfcfd;

  /* responsive breakpoints => */
  --mobile: 370px;
  --laptop: 1440px;
  --desktop: 1920px;

  /* grid variables => */
  --side-space: 20px;
  --count-column: 6;
  --gap: 20px;
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../assessts/fonts/manrope-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../assessts/fonts/manrope-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../assessts/fonts/manrope-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../assessts/fonts/manrope-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  all: unset;
}

body {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: var(--c-black-08);
  color: var(--c-white);
}

.grid {
  display: grid;
  /* prettier-ignore */
  grid-template-columns:
    calc(var(--side-space) - var(--gap))
    repeat(var(--count-column), calc((100% - (var(--side-space) * 2) - (var(--gap) * calc(var(--count-column) - 1))) / var(--count-column)))
    calc(var(--side-space) - var(--gap));
  grid-auto-flow: row;
  gap: var(--gap);
}

@media (width >= 1440px) {
  :root {
    --side-space: 80px;
    --count-column: 12;
    --gap: 20px;
  }
}

@media (width >= 1920px) {
  :root {
    --side-space: 162px;
  }
}

h1 {
  text-transform: capitalize;
  font-size: 1.75rem;
  font-size: clamp(
    1.75rem,
    1.3024193548387095rem + 1.935483870967742vw,
    3.625rem
  );
}

h2 {
  font-size: 1.25rem;
  font-size: clamp(
    1.25rem,
    0.9814516129032258rem + 1.161290322580645vw,
    2.375rem
  );
}

h3 {
  font-size: 1.125rem;
  font-size: clamp(
    1.125rem,
    1.0354838709677419rem + 0.3870967741935484vw,
    1.5rem
  );
}

h4 {
  font-size: 1.125rem;
  font-size: clamp(
    1.125rem,
    1.0653225806451614rem + 0.25806451612903225vw,
    1.375rem
  );

  font-weight: lighter;
}

p {
  color: var(--c-gray-60);
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.8153225806451613rem + 0.25806451612903225vw,
    1.125rem
  );
}

button {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 80px;
  align-items: flex-start;
}
