.genre-slider {
  grid-column: 2/-2;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.genre-slider__slide {
  background-color: var(--c-black-10);

  padding: 20px;
  border-radius: 10px;
  overflow: hidden !important;
}

.genre-slider__slide .genre-slider__slide__header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.genre-slider__slide .genre-slider__slide__header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, var(--c-black-10), transparent);
}

.genre-slider__slide .genre-slider__slide__header img {
  max-width: 100%;
  width: 100%;
  border-radius: 6px;
}

.genre-slider .genre-slider__slide__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.splide--pagination-cu {
  width: 150px;
  height: 8px;
  background-color: var(--c-black-20);
  border-radius: 12px;
  overflow: hidden;

  display: flex;
}

.splide--pagination-cu.splide--pagination-cu--MB {
  margin-inline: auto;
}

.splide--pagination-cu li {
  flex: 1;
  border-radius: 12px;
}

.splide--pagination-cu li.active {
  background-color: var(--c-red-45);
}

@media (width > 768px) {
  .splide--pagination-cu.splide--pagination-cu--MB {
    display: none;
  }
}
